/*
 Theme Name: Web Design Sun Theme
 Theme URI: http://www.webdesignsun.com
 Author: Web Design Sun
 Author URI: http://www.webdesignsun.com
 Description: Web Design Sun Theme is created by order of the COMPANY NAME and designed with soul and care by <a href="http://www.webdesignsun.com" title="Designed with soul and care by Web Design Sun® | IIG Global®" target="_blank">Web Design Sun®</a>&nbsp;|&nbsp;<a href="http://www.iig.global" title="Designed with soul and care by Web Design Sun® | IIG Global®" target="_blank">IIG Global®</a> 
 Version: 1.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags: custom-development, responsive-layout, accessibility-ready, custom-menu, editor-style, featured-images, microformats, translation-ready, seo-friendly, well-designed
 Text Domain: webdesignsuntheme

 This theme, like WordPress, is licensed under the GPL.
*/

/**
 * Table of Contents
 *
 * 1.0 - Reset
 * 2.0 - Genericons - clear
 * 3.0 - Typography
 * 4.0 - Elements
 * 5.0 - Forms
 * 6.0 - Navigations
 *   6.1 - Links
 *   6.2 - Menus - clear
 * 7.0 - Accessibility - clear
 * 8.0 - Alignments
 * 9.0 - Clearings
 * 10.0 - Header - clear
 * 11.0 - Widgets - clear
 * 12.0 - Content - clear
 *    12.1 - Posts and pages - clear
 *    12.2 - Post Formats - clear
 *    12.3 - Comments - clear
 * 13.0 - Footer - clear
 * 14.0 - Media - clear
 *    14.1 - Captions - clear
 *    14.2 - Galleries - clear
 * 15.0 - Multisite - clear
 * 16.0 - Media Queries - clear
 *    16.1 - Mobile Large - clear
 *    16.2 - Tablet Small - clear
 *    16.3 - Tablet Large - clear
 *    16.4 - Desktop Small - clear
 *    16.5 - Desktop Medium - clear
 *    16.6 - Desktop Large - clear
 *    16.7 - Desktop X-Large - clear
 * 17.0 - Print - clear
 */


/**
 * 1.0 - Reset
 *
 * Resetting and rebuilding styles have been helped along thanks to the fine
 * work of Eric Meyer, Nicolas Gallagher, Jonathan Neal, and Blueprint.
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 0;
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}


/**
 * 2.0 - Genericons
 */


/**
 * 3.0 Typography
 */

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: 'museo_sans_rounded', serif;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: 'museo_sans_rounded';
	font-weight: 500;
}
h1{
	font-size: 42px;
	line-height: 48px;
}
p {
	margin-bottom: 1.6em;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #707070;
	border-left: 4px solid rgba(51, 51, 51, 0.7);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;
}

blockquote p {
	margin-bottom: 1.6667em;
}

blockquote > p:last-child {
	margin-bottom: 0;
}

blockquote cite,
blockquote small {
	color: #333;
	font-size: 15px;
	font-size: 1.5rem;
	font-family: "Noto Sans", sans-serif;
	line-height: 1.6;
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted #eaeaea;
	border-bottom: 1px dotted rgba(51, 51, 51, 0.1);
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}


/**
 * 4.0 Elements
 */

hr {
	background-color: #eaeaea;
	background-color: rgba(51, 51, 51, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}

ul,
ol {
	margin: 0 0 1.6em 1.3333em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dl {
	margin-bottom: 1.6em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.6em;
}

table,
th,
td {
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.6em;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 0.4em;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

del {
	opacity: 0.8;
}

/* Placeholder text color -- selectors need to be separate to work. */

::-webkit-input-placeholder {
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
}

:-moz-placeholder {
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
}

::-moz-placeholder {
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
	opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: rgba(51, 51, 51, 0.7);
	font-family: "Noto Sans", sans-serif;
}


/**
 * 5.0 Forms
 */

button,
input,
select,
textarea {
	background-color: #f7f7f7;
	border-radius: 0;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: normal;
}

input,
textarea {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}

input:focus,
textarea:focus {
	background-color: #fff;
	border: 1px solid #c1c1c1;
	border: 1px solid rgba(51, 51, 51, 0.3);
	color: #333;
}

input:focus,
select:focus {
	outline: 0;
	outline: 0;
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	opacity: .5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	background-color: #cf8377;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.7917em 1.5em;
	text-transform: uppercase;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background-color: #707070;
	background-color: rgba(51, 51, 51, 0.7);
	outline: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.375em;
	width: 100%;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	outline: 0;
}

.post-password-form {
	position: relative;
}

.post-password-form label {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: 0.04em;
	line-height: 1.5;
	text-transform: uppercase;
}

.post-password-form input[type="submit"] {
	padding: 0.7917em;
	position: absolute;
	right: 0;
	bottom: 0;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

.search-form input[type="submit"],
.widget .search-form input[type="submit"] {
	padding: 0;
}


/**
 * 6.0 Navigations
 */


/**
 * 6.1 Links
 */

a {
	color: #333;
	text-decoration: none;
	transition: .5s all;
}

a:hover,
a:focus {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
}


/**
 * 6.2 Menus
 */



/**
 * 7.0 Accessibility
 */


/**
 * 8.0 Alignments
 */

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.4em;
	margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}


/**
 * 9.0 Clearings
 */

.clear:before,
.clear:after,
.site:before,
.site:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.nav-links:before,
.nav-links:after,
.comment-navigation:before,
.comment-navigation:after,
.social-navigation ul:before,
.social-navigation ul:after,
.textwidget:before,
.textwidget:after {
	content: "";
	display: table;
}

.clear:after,
.site:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.nav-links:after,
.comment-navigation:after,
.social-navigation ul:after,
.textwidget:after {
	clear: both;
}
.hidden{
	display: none;
}
body.home{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.container{
	max-width: 1710px;
	width: 100%;
	margin: 0 auto;
}
/*Buttons*/
.btn{
	display: inline-block;
	padding: 17px 49px;
	border-radius: 25px;
    background-color: #cf8377;
    color: #ffffff;
	font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
	cursor: pointer;
	transition: .5s all;
}
.btn.btn-small{
	max-width: auto;
	width: auto;
	padding: 17px 38px;
}
.add-fields:hover,
.btn:hover{
	color: #fff;
	background-color: #707070;
	background-color: rgba(51, 51, 51, 0.7);
}
.btn.transparent{
	background: transparent;
	padding: 0 17px;
	border-radius: 20px;
	border: 1px solid #777982;
	color: #4b4e5a;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 28px;
}
.btn.transparent:hover{
	background: #777982;
	color: #fff;
}
#download-worksheet {
	padding: 9px 35px;
	line-height: 18px;
	text-transform: uppercase;
}
.btn-video{
	position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    max-width: 165px;
    margin: 0 auto;
    padding: 0;
}
.btn-video p{
	margin: 0;
	display: inline-block;
    position: relative;
    top: 3px;
    left: 9px;
}
.btn-video .icon-play{
	width: 40px;
    height: 40px;
    vertical-align: middle;
    margin: 7px;
}
.nav-modal-link{
	margin-top: 11px;
	color: rgba(137, 137, 137, 0.46);
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}
.nav-modal-link:hover{
	color: #898989;
}
.next-link{
	float: right;
}
.next-prev{
	float: left;
}

/**
 * 10.0 Header
 */

/**
 * 11.0 Widgets
 */

/**
 * 12.0 Content
 */

/**
 * 12.1 Posts and pages
 */
/*Home*/
#page{
	width: 100%;
    height: 100%;
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
body.home header{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.btn-login{
	margin-top: 20px;
	float: right;
}
.description-block{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 11%;
    max-width: 730px;
    margin: 0 auto;
	padding: 35px 18px 30px;
	border-radius: 20px;
	background-color: #ffffff;
	color: #4b4e5a;
	text-align: center;
}
.description-block h1{
	margin-bottom: 25px;
}
.field-box {
	margin-bottom: 26px;
}
.field-box input{
	border-radius: 22px;
	border: 1px solid rgba(137, 137, 137, 0.5);
	background-color: #ffffff;
	padding: 12px 20px 13px;
}
.field-box p{
	margin-bottom: 2px;
	color: #777982;
	font-size: 11px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}
.btn-box{
	text-align: center;
}
.required{
	color: #cf8377;
}
.icon-play{
	background: url(images/icon-play.png) no-repeat;
	background-size: contain;
	display: inline-block;
	width: 20px;
	height: 20px;
}
/*Feedback*/
.wrap-form{
	background: rgba(203, 223, 229, 0.62);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}
.content-area.feedback{
	position: relative;
    z-index: 2;
}
/*
.container-form{
	max-width: 739px;
    margin: 10% auto 10%;
	padding: 41px 50px;
	border-radius: 20px;
    background-color: #ffffff; 
	text-align: center;
}
*/
.container-form{
	text-align: center;
}
.container-form h1{
	color: #898989;
	font-size: 22px;
	font-weight: 500;
	line-height: 30px;
}
.container-form  p{
	margin-bottom: 11px;
	color: #777982;
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	word-spacing: 6px;
}
.form-header{
	margin-bottom: 55px;
}
.form-row{
	margin-bottom: 64px;
}
.radio-box{
	display: inline-block;
    margin: 0 15px;
}
.radio-box label{
	color: #777982;
	font-size: 11px;
	font-weight: 500;
	line-height: 14px;
	text-transform: uppercase;
}
.radio {
	vertical-align: top;
	width: 16px;
	height: 17px;
	margin: 0;
}
.radio:hover,
.radio:focus,
.radio:active{
	outline: 0!important;
}
.radio + label {
	cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 22px;
}
.radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 16px;
	height: 17px;
	border-radius: 3px;
	border: 1px solid #b7b7b7;
	background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 3px;
    width: 10px;
    height: 11px;
    border-radius: 1px;
    background: #b7b7b7;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.fields-row .col{
	display: inline-block;
    width: 20%;
	margin-right: 4%;
	text-align: left;
}
.fields-row .col.last{
	margin-right: 0;
}
.fields-row .col span{
	color: #777982;
	font-size: 11px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
}
input.field-item{	
	width: 100%;
	border-radius: 10px;
    border: 1px solid #cccccc;
    background: #fff;
	padding: 7px 7px;
	font-size: 11px;
}
.relationship{
	text-align: center;
}
.remove{
	display: inline-block;
	position: absolute;
    top: 28px;
    right: 0;
	cursor: pointer;
}
.box-add{
	position: relative;
	margin-top: 10px;
}
.box-add p{
	
}
.add-fields{
	border-radius: 6px;
    background-color: #cf8377;
	position: absolute;
	top: 0;
    right: 27px;
   	padding: 3px 6px;
    color: #ffffff;
    font-size: 9px;
    font-weight: 500;
	line-height: normal;
    text-transform: uppercase;
	cursor: pointer;
}
.clone-field{
	position: relative;
	margin-top: 20px;
}
.form-footer{
	max-width: 400px;
    margin: 0 auto;
	padding-top: 44px;
}
/*Feedback-2*/
.table-form{
	display: table;
}
.row-tb {
    display: table-row;
}
.col-tb-1,
.col-tb-2{
	padding-bottom: 30px;
}
.col-tb-1 {
    display: table-cell;
	vertical-align: middle;
}
.col-tb-2 {
    display: table-cell;
    width: 78%;
	padding-left: 20px;
	vertical-align: top;
}
.col-tb-1  p{
	margin-bottom: 0;
	text-align: right;
}
.textarea-field{
	padding: 15px;
	border-radius: 22px;
	border: 1px solid rgba(137, 137, 137, 0.5);
	background-color: #ffffff;
	min-height: 100px;
	font-size: 11px;
}
.s3fs-table{
	border: 0!important;
}
.s3fs-table tbody td{
	padding: 0;
	border: 0;
}
.s3fs-videoWrapper{
	width: 100%;
	margin: 0!important;
	border-radius: 25px;
    position: relative;
    overflow: hidden;
}
.s3fs-videoWrapper .videoWrapper>div{
	width: 100%!important;
    min-height: 367px!important;
}
.wrap-video{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
	bottom: 0;
	background: #000;
	border-radius: 20px;
	z-index: 3;
}
/*******************************************/
.passcode-box{
	position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 340px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
	text-align: center;
	z-index: 4;
}
.passcode-box p {
	margin-bottom: 10px;
}
.error{
	color: #cf8377!important;
}
.error a{
	color: #cf8377;
    text-decoration: underline;
}
.error-passcode{
	margin-top: 10px;
	color: #ac1717;
}
#sumbutpasscodevideo{
	padding: 0;
    line-height: 36px;
    max-width: 276px;
    width: 100%;
}
#sumbutpasscodevideo span{
	position: relative;
    top: 5px;
    left: -16px;
}
/*******************************************/
/**
 * 12.2 Post Formats
 */

/**
 * 12.3 Comments
 */

/**
 * 13.0 Footer
 */
/*Modal*/
#modal-form{
	/*max-width: 730px;*/
}
#modal-video{
	max-width: 730px;
    padding: 34px 38px 42px;
}
#modal-video img{
	width: 100%;
	border-radius: 20px;
}
.modal-header h3{
	color: #898989;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
	letter-spacing: -0.54px;
}
.modal-wrap{
	position: relative;
	background: #fff;
	margin: 0 auto;
	border-radius: 20px;
}
.modal-wrap.form{
	max-width: 730px;
	padding: 41px 59px 45px;
}
.modal-wrap.video{
	max-width: 1170px;
	padding: 52px 76px 42px 68px;
}
.modal-wrap.feedback-1,
.modal-wrap.feedback-2{
	max-width: 739px;
    padding: 41px 50px;
}
.modal-body{
	position: relative;
}
.modal-wrap.form .modal-body{
	max-width: 396px;
    margin: 29px auto 0;
}
.modal-footer{
	padding-top: 14px;
    text-align: center;
}
.modal-wrap.video .modal-footer{
	margin-bottom: 29px; 
	padding-top: 4px;
}
.modal-footer h1{
	margin-bottom: 20px;
	color: #4b4e5a;
	font-size: 42px;
	font-weight: 500;
	line-height: 48px;
}
.modal-footer p {
	font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #898989;
}
.modal-wrap.video .modal-footer p {
	margin-bottom: 14px;
	font-size: 22px;
	line-height: 28px;
}
.modal-wrap.video .modal-footer p:nth-last-child(1){
	margin-bottom: 0;
}
#sumbut-form{
	padding: 0;
    line-height: 36px;
    max-width: 276px;
    width: 100%;
}
#sumbut-form span{
	position: relative;
    top: 5px;
    left: -16px;
}
/*Star ratings*/
.rating {
	display: inline-block;
    float: left;
}
.rating span { 
	float:right; 
	position:relative; 
}
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    text-align:center;
    font-size:30px;
}
.rating span label i{
	color: #ebebeb;
	transition: .5s all;
}
.rating span:hover ~ span label i,
.rating span:hover label i,
.rating span.checked label i,
.rating span.checked ~ span label i{
   color: #cf8377;
   cursor: pointer;
}
/*DropDown*/
.dropdown-relationship{
    margin: 0;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 1px 7px;
    line-height: 25px;
	list-style: none;
}
.dropup, .dropdown {
    position: relative;
}
.open>.dropdown-menu {
    display: block;
}
.dropdown{
	text-align: center;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    margin: 2px 0 0;
	text-align: left;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dropdown-toggle{
	display: block;
	color: #777982;
	font-size: 11px;
}
.dropdown-menu>li{
	padding: 0 10px;
    border-bottom: 1px solid #b7b7b7;
	font-size: 11px;
	cursor: pointer;
}
.dropdown-menu>li.get-val{
	padding: 0;
}
.dropdown-menu>li>a {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}

.dropdown-menu>li>a  input.other{
	padding: 6px 10px;
	font-size: 11px;
	line-height: 12px;
}

/**
 * 14.0 Media
 */

/**
 * 14.1 Captions
 */

/**
 * 14.2 Galleries
 */

/**
 * 15.0 Multisite
 */

/**
 * 16.0 Media Queries
 */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}
@media (max-width: 991px) {
	.s3fs-videoWrapper .videoWrapper>div{
		min-height: 276px!important;
	}
}
@media (max-width: 768px) {
	.fields-row .col{
		width: 48%;
		margin-right: 2%;
	}
	.fields-row .col:nth-child(even){
		margin-right: 0;
	}
	.remove{
		position: relative;
		margin-bottom: 20px;
	}
	/*
	.container-form{
		width: 94%;
	}
	*/
}
@media (max-width: 640px) {
	.fields-row .col{
		width: 100%;
		margin-right: 0!important;
	}
	.col-tb-1  p{
		text-align: center;
	}
	.col-tb-1, .col-tb-2 {
		width: 100%;
		display: inline-block;
	}
	.col-tb-1 {
		padding-bottom: 0;
	}
	.rating{
		float: none;
	}
	.add-fields{
		position: relative;
		right: 0;
	}
	.s3fs-videoWrapper .videoWrapper>div{
		min-height: 276px!important;
	}
}
/**
 * 16.1 Mobile Large 620px
 */

/**
 * 16.2 Tablet Small 740px
 */

/**
 * 16.3 Tablet Large 880px
 */

/**
 * 16.4 Desktop Small 955px
 */

/**
 * 16.5 Desktop Medium 1100px
 */

/**
 * 16.6 Desktop Large 1240px
 */

/**
 * 16.7 Desktop X-Large 1403px
 */

/**
 * 17.0 Print
 */
